<div class="row">
  <div class="col-md-6 col-lg-3" *ngFor="let movie of movieList">
    <div class="card carddecorator">
      <a> 
						 <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
						 <div class="card-block">
							 <p class="card-title">Movie: {{movie.title}}</p>
							 <p class="card-text">Release Date: {{movie.release_date}}</p>
							 <button class="btn btn-outline-primary" (click)="add(movie)">Add to Favourites</button>
						 </div>
			</a>
    </div>
  </div>
</div>



 